# Copie para .env e preencha com seus valores (não commite o .env)

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000/
NEXT_APP_GOOGLE_MAPS_API_KEY=
NEXT_APP_MAPBOX_ACCESS_TOKEN=
NEXT_APP_API_URL=https://mock-data-api-nextjs.vercel.app
NEXT_APP_JWT_SECRET=
NEXT_APP_JWT_TIMEOUT=86400
NEXTAUTH_SECRET_KEY=
